AWSTemplateFormatVersion: "2010-09-09"
Resources:
  Thing: 
      Type: AWS::IoT::Thing
      Properties: 
         ThingName: 
            Ref: "NameParameter"
Parameters: 
   NameParameter: 
      Type: "String"